<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatisChicken.relation.mapper.UserMapper">


    <resultMap id="userMap" type="mybatisChicken.relation.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="countryId" column="country_id"  />
    </resultMap>

    <!--XML 中的select 标签的id 属性值和定义的接口方法名是一样的。MyBatis
    就是通过这种方式将接口方法和XML 中定义的SQL 语句关联到一起的，如果接口方法没有和
    XML 中的id 属性值相对应，启动程序便会报错-->
    <select id="selectBy2JavaBean" resultMap="userMap">
		select * from sys_user where id = #{param1.id} and user_name=#{param2.userName}
	</select>

    <select id="selectUserCountry" resultMap="userCountryMap">
       SELECT u.id,user_name,user_password,user_email,user_info,head_img,create_time,country_id,
      countryname country_name,countrycode country_code
      FROM sys_user u,country c where c.id=u.country_id and c.id=#{id}
    </select>

    <!--1对1关系的自动映射写法-->
<!--    <select id="selectUserCountry" resultType="mybatisChicken.relation.model.SysUser">
       SELECT u.id,
              user_name userName,
              user_password userPassword,
              user_email userEmail,
              country_id countryId,
              country_id "country.id",
              countryname "country.countryname",
              countrycode "country.countrycode"
      FROM sys_user u,country c where c.id=u.country_id and c.id=#{id}
    </select>-->


    <resultMap id="userCountryMap" type="mybatisChicken.relation.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="countryId" column="country_id"  />
        <result property="country.id" column="country_id"/>
        <result property="country.countryname" column="country_name"/>
        <result property="country.countrycode" column="country_code"/>
    </resultMap>

    <select id="selectUserCountryAssociation" resultMap="associationUserCountryMap">
       SELECT u.id,user_name,user_password,user_email,user_info,head_img,create_time,country_id,
      countryname country_name,countrycode country_code
      FROM sys_user u,country c where c.id=u.country_id and c.id=#{id}
    </select>

    <resultMap id="associationUserCountryMap" type="mybatisChicken.relation.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="countryId" column="country_id" />

        <association property="country"  javaType="mybatisChicken.relation.model.Country" >
            <result property="id" column="country_id"/>
            <result property="countryname" column="country_name"/>
            <result property="countrycode" column="country_code"/>
        </association>

     <!--   <association property="country"  columnPrefix="country_" javaType="mybatisChicken.relation.model.Country"  >
            <result property="id" column="id"/>
            <result property="countryname" column="name"/>
            <result property="countrycode" column="code"/>
        </association>-->
    </resultMap>


    <select id="selectUserNest" resultMap="userMapAssociation">
		select * from sys_user where id = #{id}
	</select>

 <!--   <resultMap id="userMapAssociation" type="mybatisChicken.relation.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img" jdbcType="BLOB"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="countryId" column="country_id"  />
        <association property="country"   column="{id=country_id}"  select="selectCountry"  />
     </resultMap>-->


    <resultMap id="userMapAssociation" extends="userMap" type="mybatisChicken.relation.model.SysUser">
        <association property="country"  fetchType="lazy"  column="{id=country_id}"  select="selectCountry"  />
    </resultMap>

    <select id="selectCountry"  resultMap="countryMap">
        select  id , countryname  ,countrycode   from country where id=#{id}
    </select>

    <resultMap id="countryMap" type="mybatisChicken.relation.model.Country">
    </resultMap>

</mapper>


